<h1>Check Your Poker hand</h1>
<h2>
  <%= form_tag({controller: :home, action: :check}, { method: :post}) do %>
    <%= text_field_tag "cards", params[:cards], placeholder: "S10 H11 D12 C13 H1" %>
    <%= submit_tag "Check" %>
  <% end %>
  <% if @hand %>
    <%= @hand %>
  <% end %>
  <% if @msg %>
    <%= @msg %>
  <% end %>
</h2>
<p>made on Ruby Trial in ~/RubymineProjects/poker</p>
